<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <urlMappings>
      <add url="~/Dashboard-Gerente" mappedUrl="Modulos/Dashboard/DashboardGerente.aspx" />
      <add url="~/Modulos/Dashboard/Dashboard-Gerente" mappedUrl="DashboardGerente.aspx" />
      <add url="~/Modulos/RecursosHumanos/Pesquisa-Empresa" mappedUrl="PesquisaEmpresa.aspx" />
      <add url="~/Modulos/RecursosHumanos/Pesquisa-Funcionario" mappedUrl="PesquisaFuncionario.aspx" />
      <add url="~/Modulos/RecursosHumanos/Pesquisa-Beneficios" mappedUrl="PesquisaBeneficios.aspx" />
      <add url="~/Modulos/RecursosHumanos/Pesquisa-Funcionário" mappedUrl="PesquisaFuncionario.aspx" />
      <add url="~/Modulos/RecursosHumanos/Pesquisa-Benefícios" mappedUrl="PesquisaBeneficios.aspx" />
      <add url="~/Modulos/RecursosHumanos/Cadastro-Funcionario" mappedUrl="ManterFuncionario.aspx" />
      <add url="~/Modulos/RecursosHumanos/Manutenção-Demissão" mappedUrl="ManterDemissao.aspx" />
      <add url="~/Modulos/RecursosHumanos/Manutenção-Admissão" mappedUrl="ManterAdmissao.aspx" />
      <add url="~/Modulos/RecursosHumanos/Manutenção-Beneficios" mappedUrl="ManterBeneficios.aspx" />
      <add url="~/Modulos/RecursosHumanos/Manutenção-Contribuição-Sindical"
        mappedUrl="ManterContribuicaoSindicaol.aspx" />
      <add url="~/Modulos/RecursosHumanos/Manutenção-Tipo-Beneficio"
        mappedUrl="ManterTipoBeneficio.aspx" />
      <add url="~/Modulos/RecursosHumanos/Manutenção-Tarefa" mappedUrl="ManterTarefa.aspx" />
      <add url="~/Modulos/RecursosHumanos/Manutenção-Sindicato" mappedUrl="ManterSindicato.aspx" />
      <add url="~/Modulos/RecursosHumanos/Manutenção-Seção" mappedUrl="ManterSecao.aspx" />
      <add url="~/Modulos/RecursosHumanos/Manutenção-Cargo" mappedUrl="ManterCargo.aspx" />
      <add url="~/Modulos/RecursosHumanos/Manutenção-Forma-Pagamento"
        mappedUrl="ManterFormaDePagamento.aspx" />
    </urlMappings>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>