<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <urlMappings>
      <add url="~/Dashboard-Gerente" mappedUrl="Modulos/Dashboard/DashboardGerente.aspx" />
      <add url="~/Modulos/Dashboard/Dashboard-Gerente" mappedUrl="DashboardGerente.aspx" />
      <add url="~/Modulos/RecursosHumanos/Pesquisa-Empresa" mappedUrl="PesquisaEmpresa.aspx" />
      <add url="~/Modulos/RecursosHumanos/Pesquisa-Funcionario" mappedUrl="PesquisaFuncionario.aspx" />
      <add url="~/Modulos/RecursosHumanos/Pesquisa-Beneficios" mappedUrl="PesquisaBeneficios.aspx" />
      <add url="~/Modulos/RecursosHumanos/Pesquisa-Funcionário" mappedUrl="PesquisaFuncionario.aspx" />
      <add url="~/Modulos/RecursosHumanos/Pesquisa-Benefícios" mappedUrl="PesquisaBeneficios.aspx" />
    </urlMappings>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>